
    .headerBGC {
        background: blue !important;
    }

    .returnBtn {
        position: absolute;
        width: 24px;
        left: 10px;
        top: 6px;
    }

    .returnIcon {
        padding-top: 2px;
        width: 100%;
        height: auto;
    }

    .contentBody {
    }

    .infoContainer {
        background-color: white;
        padding: 10px 10px 5px 10px;
        margin-bottom: 10px;
    }

    .infoHead {
    }

    .infoFoot {
        display: flex;
        flex-direction: row-reverse;
    }

    .leftInterval {
        padding-left: 8px;
    }

    .infoBorderLine {
        margin-left: 5px;
    }

    .topLine {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: rgb(212, 209, 209);
        padding-top: 5px;
    }

    .bottomLine {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgb(212, 209, 209);
        padding-bottom: 5px;
    }

    .infoHeadTitle {
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: #2370e2;
    }

    .budgetDetail {
        display: flex;
        justify-content: space-between;
    }