
    .headerBGC {
        background: blue !important;
    }

    .returnBtn {
        position: absolute;
        width: 24px;
        left: 10px;
        top: 6px;
    }

    .returnIcon {
        padding-top: 2px;
        width: 100%;
        height: auto;
    }

    .infoHead {
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: #2370e2;
        margin-bottom: 10px;
    }