

        .headBar {
            background: #0982FE !important;
            border-top-width: 0px !important;
            border-bottom-width: 0px !important;
        }

        .headText {
            width: 70%;
            color: #ffffff;
        }

        .titleText {
            text-align: center;
            font-size: 2em;
        }
        
        .dateIcon {
            float: left;
            width: 13px;
            height: 13px;
        }

        .moreMenu {
            position: absolute;
            right: 10px;
            top: 2px;
            width: 40px;
        }

        .menuIcon {
            width: 100%;
            height: auto;
        }

        .footBar {
            background: #F8F8F9 !important;
            border-bottom-width: 0px !important;
            border-top-width: 0px !important;
            display: flex;
            flex-flow: row;
            justify-content: center;
        }

        .pageTag {
            /* text-align: center; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .pageIconBox {
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .pageName {
            text-shadow: 0 1px 0 #fff;
            color: rgb(185, 181, 181);
        }

        .selectedPage {
            color: rgb(06, 123, 255) !important;
        }

        .contentBody {
            overflow:scroll !important;
            padding: 0 !important;
        }

        .userInfoList {
            margin: 0 auto;
            width: 94%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .userInfo {
            background-color: #ffffff;
            display: flex;
            flex-direction: row;
            flex-flow: wrap;
            position: relative;
            margin-top: 2%;
            margin-bottom: 1%;
            text-align: left;
            border-left-style: solid;
            border-left-width: 0.4em;
            border-left-color: red;
            border-radius: 0.3em;
            box-shadow: 0.1em 0.1em 0.3em #888888;
        }

        .infoTag {
            box-sizing:border-box;
            /* font-size: 1.3em; */
            padding: 3% 0 2% 2%;
            margin:0 2% 0 2%;
            width: 45%;
            height: 33%;
            /* float: left; */
        }

        .showDetail {
            position: absolute;
            right: 5px;
            top: 40%;
        }

        .enterDetail {
            /*position: absolute;*/
        }

        .arrowIcon {
            width: 40px;
            height: 30px;
        }

        .infoKey {
            font-size: 0.5em;
            color: #585656a4;
        }

        .infoValue {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
            font-size: 1.3em;
            word-wrap: break-word;
        }

        .userStatus {
            float:right;
            background-color: rgb(48, 145, 201);
            font-size: 0.1em;
            border-radius: 1em;
            color:white;
            padding: 5px;
        }

        .pageIcon {
            width: 20%;
        }

        a {
            color: black !important;
        }