
        @media screen and (min-width: 375px) {
            .userInfoSize {
                width: 94%;
            }
        }

        @media screen and (min-width: 1024px) {
            .userInfoSize {
                width: 49%;
            }
        }

        #app .navbar{
            /* background: #067bff; */
            background: linear-gradient(to bottom, #067bff, #59aaf7);
        }

        #app .menuIcon {
            font-size: xx-large;
            margin-right: 10px;
        }

        .pageTitle {
            color: white;
        }

        #todoPage .borderSize {
            margin: 0 auto;
            margin-top: 10px;
        }
        
        #todoPage .dateIcon {
            font-size: inherit;
        }

        .pageTag {
            /* text-align: center; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .pageName {
            text-shadow: 0 1px 0 #fff;
            color: rgb(185, 181, 181);
        }

        .selectedPage {
            color: rgb(06, 123, 255) !important;
        }

        #todoPage .cardsRWD {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        #todoPage .userInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: wrap;
            position: relative;
            text-align: left;
            border-left-style: solid;
            border-left-width: 8px;
            border-left-color: red;
            border-radius: 0.3em;
            box-shadow: 0.1em 0.1em 0.3em #888888;
        }

        .infoTag {
            box-sizing:border-box;
            margin:2% 0 2% 0;
            width: 40%;
        }

        .showDetail {
            position: absolute;
            right: 5px;
            top: 43%;
        }

        .infoKey {
            font-size: 0.5em;
            color: #585656a4;
        }

        .infoValue {
            font-family: serif !important;
            font-size: 1.3em;
            word-wrap: break-word;
        }

        .userStatusBox {
            align-items: flex-end;
            display: flex;
            flex-direction: column;
        }

        .userStatus {
            text-align: center;
            background-color: rgb(56, 119, 235);
            font-size: 0.1em;
            border-radius: 25px;
            color:white;
            padding: 3px 10px 3px 10px;
        }
