   .returnBtn {
        position: absolute;
        width: 40px;
        left: 10px;
        bottom: 1px;
    }

    .returnIcon {
        padding-top: 2px;
        width: 20px;
        height: auto;
    }

    #detailPage .infoHead {
        padding: 0;
    }

    .infoContainer {
        padding: 0 10px 0 10px;
    }

    .infoFoot {
        display: flex;
        flex-direction: row-reverse;
        justify-content: unset;
        -webkit-box-pack: unset;
    }

    .showMore {
        position: relative;
        text-align: center;
        bottom: 2.5px;
        width: 20px;
        height: 20px;
    }

    .moreIcon {
        width: 100%;
        height: auto;
    }

    .showMoreInfo {
        color: rgb(06, 123, 255);
    }


    .leftInterval {
        padding-left: 8px;
    }

    .infoBorderLine {
        margin-left: 5px;
    }

    .topLine {
        border-top-style: solid;
        border-top-width: 1px;
        border-top-color: rgb(212, 209, 209);
        padding-top: 10px;
    }

    .bottomLine {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-bottom-color: rgb(212, 209, 209);
        padding-bottom: 10px;
    }

    .infoHeadTitle {
        border-left-style: solid;
        border-left-width: 5px;
        border-left-color: #2370e2;
        font-weight: 600;
    }

    .basicInfoDtl {        
        padding-top: 10px;
    }

    .budgetDetail {
        padding-top: 4px;
        display: flex;
        justify-content: space-between;
    }

    .budgetNumber {
        color: rgb(06, 123, 255);
    }

    .docTab {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .docInfo {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .docIconBox {
        width: 50px;
        height: 100%;
    }

    .docIcon {
        width: 100%;
        height: auto;
    }

    .downloadBox {
        padding-right: 15px;
        width: 20px;
        height: 20px;
    }

    .downloadIcon {
        width: 100%;
        height: auto;
    }

    .docFootOffset {
        position: relative;
        bottom: 6px;
        ;
    }

    .attrKey {
        font-size: 0.7em;
        color: #585656a4;
    }

    .attrValue {
        font-size: 1em;
        word-wrap: break-word;
        font-weight: 600;
    }