        .headBar {
        }

        #app .navbar{
            background: #067bff;
        }


        
        .dateIcon {
            float: left;
            width: 13px;
            height: 13px;
        }


        .pageTag {
            /* text-align: center; */
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .pageIconBox {
            width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .pageName {
            text-shadow: 0 1px 0 #fff;
            color: rgb(185, 181, 181);
        }

        .selectedPage {
            color: rgb(06, 123, 255) !important;
        }

        .contentBody {
            overflow:scroll !important;
            padding: 0 !important;
        }

        #todoPage .cardsScrollable {
            display: inline;
        }

        #todoPage .userInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: wrap;
            position: relative;
            text-align: left;
            border-left-style: solid;
            border-left-width: 0.4em;
            border-left-color: red;
            border-radius: 0.3em;
            box-shadow: 0.1em 0.1em 0.3em #888888;
        }

        .infoTag {
            box-sizing:border-box;
            margin:2% 0 2% 0;
            width: 40%;
        }

        .showDetail {
            position: absolute;
            right: 5px;
            top: 43%;
        }

        .enterDetail {
            /*position: absolute;*/
        }

        .arrowIcon {
            width: 40px;
            height: 30px;
        }

        .infoKey {
            font-size: 0.5em;
            color: #585656a4;
        }

        .infoValue {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
            font-size: 1.3em;
            word-wrap: break-word;
        }

        .userStatus {
            float:right;
            background-color: rgb(48, 145, 201);
            font-size: 0.1em;
            border-radius: 1em;
            color:white;
            padding: 5px;
        }

        .pageIcon {
            width: 20%;
        }

        a {
            color: black !important;
        }